{% load static %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol class="breadcrumb-list">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        {% for crumb in breadcrumbs %}
        {% if forloop.last %}
        <li class="active" aria-current="page">{{ crumb.label }}</li>
        {% else %}
        <li><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
{% if breadcrumb_ld %}
<script type="application/ld+json">
{{ breadcrumb_ld|safe }}
</script>
{% endif %}
