<section class="category-section handige-artikelen">
    <header class="major">
        <h2>Handige artikelen</h2>
    </header>
    <ul>
        <li><a href="{% url 'blogs_detail' slug='keramische-vs-rvs-koekenpan' %}">Keramische vs RVS koekenpan: welke past bij jou?</a></li>
        <li><a href="{% url 'blogs_detail' slug='welke-maat-koekenpan' %}">Welke maat koekenpan heb je nodig? (20, 24 of 28 cm)</a></li>
        <li><a href="{% url 'blogs_detail' slug='is-keramische-coating-veilig' %}">Is keramische coating veilig? Alles over PFAS</a></li>
    </ul>
</section>
